html {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  /* You can use this by uncommenting it to see outlines for all elements on your site */
  /* outline: red 1px dotted; */
}

/* CSS-ONLY CAROUSEL */

/* Scrollbar hiding */

.carousel * {
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.carousel *::-webkit-scrollbar {
  width: 0;
}

.carousel *::-webkit-scrollbar-track {
  background: transparent;
}

.carousel *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

/* Carousel styles, main */

.carousel ol,
.carousel li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 20%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #000;
  counter-increment: item;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #000000;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #000000;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* Make a new one of these for each new slide */

.homepage__carousel #carousel__slide1 {
  background-image: url("../images/magical or PJO.jpg");
}

.homepage__carousel #carousel__slide2 {
  background-image: url("../images/pride and prejudice image 2.jpg");
}

.homepage__carousel #carousel__slide3 {
  background-image: url("../images/the notebook image 1.jpg");
}

.homepage__carousel #carousel__slide4 {
  background-image: url("../images/tragedy.jpg");
}

.homepage__carousel #carousel__slide5 {
  background-image: url("../images/harry-potter-4077473_1280.png");
}

.homepage__carousel #carousel__slide6 {
  background-image: url("../images/the raven boys image 1.jpg");
}

.pagetwo__carousel #carousel__slide1 {
  background-image: url("../images/harry potter image 1.jpg");
}

.pagetwo__carousel #carousel__slide2 {
  background-image: url("../images/harry potter image 2.jpg");
}

.pagetwo__carousel #carousel__slide3 {
  background-image: url("../images/harry potter image 3.jpg");
}

.pagetwo__carousel #carousel__slide4 {
  background-image: url("../images/harry potter image 4.jpg");
}

.pagetwo__carousel #carousel__slide5 {
  background-image: url("../images/harry potter image 5.jpg");
}

.pagetwo__carousel #carousel__slide6 {
  background-image: url("../images/harry-potter-4073863_1280.png");
}

.pagetwo__carousel #carousel__slide7 {
  background-image: url("../images/harry-potter-5902545_1280.png");
}

.genre-section {
  display: flex;
  justify-content: space-evenly;
}

.genre-item {
  width: 300px;
  height: 400px;
}

.genre-item img {
  width: 100%;
}

.trending-section {
  display: flex;
  justify-content: space-evenly;
}

.trending-item {
  width: 140px;
}

.trending-item img {
  width: 140px;
}

.Trending-img img {
  width: 100%;
}

.trending-reviews-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery-section {
  display: flex;
  justify-content: space-evenly;
}

.gallery-item {
  width: 300px;
  height: 400px;
}

.gallery-img img {
  width: 100%;
}

.image-row {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 20px auto;
}

.image-with-text {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 300px;
}

.image-with-text .text {
  padding-top: 0;
  padding-bottom: 4em;
}

.image-with-text .text h2 {
  margin-top: 0;
  text-align: left;
}

.image-with-text p {
  text-align: left;
}

.image-with-text img {
  height: 100px;
  width: auto;
}

img {
  width: 100%;
  height: auto;
}

.text {
  padding: 10px;
  text-align: center;
}

.text h3 {
  font-size: 10px;
  margin-bottom: 10px;
}

.text {
  font-size: 13px;
}

.wrapper {
  background-color: rgb(0, 0, 0);
  width: 95%;
  margin: 0 auto;
  padding: 2em;
}

nav {
  background-color: rgb(0, 0, 0);
}

nav ul {
  display: inline;
  list-style: none;
  text-align: center;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
  height: 5em;
  display: flex;
  align-items: center;
}

nav li {
  display: inline;
  margin: 0 2em;
}

nav h1 {
  display: inline;
}

nav a:hover {
  text-decoration: none;
}

nav a:visited {
  color: rgb(105, 13, 105);
}

.nav-icon {
  width: 25px;
  vertical-align: text-bottom;
}

div {
  height: 100;
  width: 100;
}

.art-section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5em;
}

.art-item {
  width: 400px;
}

.art-item img {
  width: 400px;
}

.art-img img {
  width: 100%;
}

.harry-potter-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.art-section {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5em;
}

.art-item {
  width: 400px;
}

.art-item img {
  width: 400px;
}

.art-img img {
  width: 100%;
}
